<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header(menu)">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="/">Book Depot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item btn-group" th:classappend="${#strings.equals('books', menu)}? 'active'">
                    <a th:href="@{/books}" class="nav-link pr-0">Books</a>
                    <a class="nav-link dropdown-toggle dropdown-toggle-split" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </a>
                    <div class="dropdown-menu">
                        <a th:href="@{/books}" class="dropdown-item">Library</a>
                        <a th:href="@{/borrowed}" class="dropdown-item">Borrowed</a>
                    </div>
                </li>
                <li class="nav-item" th:classappend="${#strings.equals('borrowers', menu)}? 'active'">
                    <a class="nav-link" href="/borrowers">Borrowers <span th:if="${#strings.equals('borrowers', menu)}" class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form th:if="${#authorization.expression('isAuthenticated()')}" th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-secondary"><i class="fas fa-sign-out-alt"></i> Log Out</button>
            </form>
            <a th:unless="${#authorization.expression('isAuthenticated()')}" href="/login" class="btn btn-secondary"><i class="fas fa-sign-in-alt"></i> Log In</a>
            <a th:unless="${#authorization.expression('isAuthenticated()')}" href="/signup" class="btn btn-link">Sign Up</a>
        </div>
    </nav>
</header>
</body>
</html>