div#interactive {
    position: relative;
    max-height: 20em;
    overflow: hidden;
    margin-bottom: 1em;
}

div#interactive > canvas.drawingBuffer {
    position: absolute;
    top: 0;
    left: 0;
}

div#interactive > video,
div#interactive > canvas.drawingBuffer {
    width: 100%;
}
