<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::body}, 'books')}">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<a href="#" th:href="@{/books/0}" class="btn btn-secondary mb-3 btn-sm">Add Book <i class="fas fa-angle-right"></i></a>
<table class="table table-striped nosortfirst">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th class="d-none d-md-table-cell">ISBN</th>
        <th>Title</th>
        <th class="d-none d-sm-table-cell">Author</th>
        <th>Available</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}" th:object="${book}">
        <td><a class="btn btn-primary btn-sm" th:href="@{/books/{id}(id=*{bookLocationId})}"><i class="fas fa-edit fa-sm"></i> Edit</a></td>
        <td class="d-none d-md-table-cell" th:text="*{isbn}">101010101</td>
        <td th:text="*{title}">Book Title</td>
        <td class="d-none d-sm-table-cell" th:text="*{author}">Book Author</td>
        <td><span th:text="*{total - checkedOut}">50</span> of <span th:text="*{total}">100</span></td>
    </tr>
    </tbody>
</table>
</body>
</html>