<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::body}, 'books')}">
<head>
    <meta charset="UTF-8">
    <title th:if="${bookForm.id}">Update Book</title>
    <title th:unless="${bookForm.id}">Add Book</title>
</head>
<body>
    <div id="scanArea" class="d-none container">
        <div class="row">
            <div class="col">
                <button id="stopButton" class="btn btn-danger btn-block" type="button">
                    <i class="fas fa-stop-circle"></i> Stop</button>
            </div>
        </div>
        <div class="row">
            <div id="interactive" class="col viewport">
                <video autoplay="true" preload="auto" src=""></video>
            </div>
        </div>
    </div>
    <form th:action="@{/books/{id}(id=*{id})}" th:object="${bookForm}" method="post">
        <div class="form-group">
            <label for="isbn">ISBN:</label>
            <div class="input-group">
                <input type="text" class="form-control" th:field="*{isbn}" th:errorclass="is-invalid"/>
                <div class="input-group-append">
                    <button class="btn btn-secondary" role="button" type="button" id="startScan" disabled>
                        <i class="fas fa-barcode"></i> Scan</button>
                    <button class="btn btn-secondary" role="button" type="submit" name="search" value="Search" >
                        <i class="fas fa-search"></i> Search</button>
                </div>
                <div th:if="${#fields.hasErrors('isbn')}" class="invalid-feedback" th:errors="*{isbn}">
                    Errors
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" th:field="*{title}" th:errorclass="is-invalid"/>
            <div th:if="${#fields.hasErrors('title')}" class="invalid-feedback" th:errors="*{title}">
                Errors
            </div>
        </div>
        <div class="form-group">
            <label for="author">Author:</label>
            <input type="text" class="form-control" th:field="*{author}" th:errorclass="is-invalid"/>
            <div th:if="${#fields.hasErrors('author')}" class="invalid-feedback" th:errors="*{author}">
                Errors
            </div>
        </div>
        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="number" class="form-control" th:field="*{amount}" th:errorclass="is-invalid"/>
            <div th:if="${#fields.hasErrors('amount')}" class="invalid-feedback" th:errors="*{amount}">
                Errors
            </div>
        </div>
        <button type="submit" class="btn btn-primary" th:unless="*{id}"><i class="fas fa-plus"></i> Add Book</button>
        <button type="submit" class="btn btn-primary" th:if="*{id}"><i class="fas fa-save"></i> Update Book</button>
        <a href="" th:href="@{/books}" class="btn btn-secondary"><i class="fas fa-angle-left"></i> Cancel</a>
    </form>
    <script th:src="@{/js/quagga.min.js}"></script>
    <script th:src="@{/js/bookscan.js}"></script>
</body>
</html>
