<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::body}, 'borrowers')}">
<head>
    <meta charset="UTF-8">
    <title>Book Borrowers</title>
</head>
<body>
<form th:action="@{/borrowers/{id}(id=*{id})}" th:object="${borrower}" method="post" class="form-inline mb-3 align-items-start">
    <div class="form-group flex-column">
        <label for="name" class="sr-only">Borrower Name</label>
        <input type="text" class="form-control" id="name" th:field="*{name}" th:errorclass="is-invalid" placeholder="Borrower Name" />
        <small th:if="${#fields.hasErrors('name')}" class="invalid-feedback" th:errors="*{name}">
            Errors
        </small>
    </div>
    <button type="submit" class="btn btn-primary mx-2"><i class="fas fa-plus"></i> Add</button>
</form>
<table class="table table-striped nosortfirst">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Name</th>
        <th>Borrowed</th>
        <th>Borrow</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="borrower : ${borrowers}">
        <td><a class="btn btn-primary btn-sm" th:href="@{/borrowers/{id}(id=${borrower.id})}"><i class="fas fa-edit fa-sm"></i> Edit</a></td>
        <td>
        <a href="/borrowers/1/borrowed"
           th:href="@{/borrowers/{borrowerId}/borrowed(borrowerId=${borrower.id})}"
           th:text="${borrower.name}">Borrower</a>
        </td>
        <td th:text="${borrower.bookCount}">102</td>
        <td>
            <a class="btn btn-secondary btn-sm"
               th:href="@{/borrowers/{borrowerId}/borrow(borrowerId=${borrower.id})}">
                Borrow <i class="fas fa-angle-right fa-sm"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>