<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::body}, 'borrowers')}">
<head>
    <meta charset="UTF-8">
    <title>Edit Borrower</title>
</head>
<body>
<h2>Edit <span th:text="${current.name}">Bill</span></h2>
<form th:action="@{/borrowers/{id}(id=*{id})}" th:object="${borrower}" method="post" class="mb-3">
    <div class="form-group">
        <label for="name" class="sr-only">Borrower Name</label>
        <input type="text" class="form-control" id="name" th:field="*{name}" th:errorclass="is-invalid" placeholder="Borrower Name" />
        <small th:if="${#fields.hasErrors('name')}" class="invalid-feedback" th:errors="*{name}">
            Errors
        </small>
    </div>
    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
    <a href="" th:href="@{/borrowers}" class="btn btn-secondary"><i class="fas fa-angle-left"></i> Cancel</a>
    <button th:if="${current.bookCount == 0}" type="submit" class="btn btn-danger" name="delete" value="delete"><i class="fas fa-ban"></i> Delete</button>
</form>
</body>
</html>
