<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::body}, 'borrowers')}">
<head>
    <meta charset="UTF-8">
    <title>Borrow</title>
</head>
<body>
<h2 class="mb-3">Borrow for <span th:text="${borrower.name}">Sally</span></h2>
<table class="table table-striped datatable">
    <thead>
    <tr>
        <th class="d-none d-md-table-cell">ISBN</th>
        <th>Title</th>
        <th class="d-none d-sm-table-cell">Author</th>
        <th>Borrow</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}" th:object="${book}">
        <td class="d-none d-md-table-cell" th:text="*{isbn}">0890027077635</td>
        <td th:text="*{title}">Title</td>
        <td class="d-none d-sm-table-cell" th:text="*{author}">Author</td>
        <td>
            <form th:action="@{/borrowers/{borrowerId}/borrow(borrowerId=${borrower.id})}" method="post">
                <input type="hidden" name="bookId" th:value="*{bookLocationId}" />
                <button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-book"></i> Borrow</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
