<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::body}, 'books')}">
<head>
    <meta charset="UTF-8">
    <title>Borrowed</title>
</head>
<body>
<h2 th:if="${borrower}" class="mb-3">Borrowed by <span th:text="${borrower.name}">Sally</span>
    <a class="btn btn-secondary btn-sm"
       th:href="@{/borrowers/{borrowerId}/borrow(borrowerId=${borrower.id})}">
        Borrow <i class="fas fa-angle-right fa-sm"></i>
    </a>
</h2>
<table class="table table-striped datatable">
    <thead>
    <tr>
        <th th:unless="${borrower}">By</th>
        <th class="d-none d-md-table-cell">ISBN</th>
        <th>Title</th>
        <th>Out</th>
        <th>In</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rec : ${borrowed}" th:object="${rec}">
        <td th:text="*{borrower}" th:unless="${borrower}">Borrower</td>
        <td class="d-none d-md-table-cell" th:text="*{isbn}">0890027077635</td>
        <td th:text="*{title}">Title</td>
        <td th:text="*{borrowedDateString}">100</td>
        <td th:if="*{returnedDate}" th:text="*{returnedDateString}">100
        </td>
        <td th:unless="*{returnedDate}">
            <form th:if="${borrower}" th:action="@{return}" method="post">
               <input type="hidden" th:value="*{id}" name="borrowedId" />
               <button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-undo fa-sm"></i> Return</button>
            </form>
            <form th:unless="${borrower}" th:action="@{/borrowers/{borrowerId}/return(borrowerId=*{borrowerId})}" method="post">
                <input type="hidden" th:value="*{id}" name="borrowedId" />
                <button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-undo fa-sm"></i> Return</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>